@use './mixins' as m;
@use './colors' as clr;

:root {
  @include m.site-colors-css-variables;
  // light mode variables
  @include m.light-mode-vars();

  &[data-theme='dark'] {
    // dark mode variables
    @include m.dark-mode-vars();
  }
  // Common
  --root-font-size: 62.5%;
  --body-font-size: 1.6rem;

  // Light Mode
  --text-color: #{clr.$grey-100};
  --bg-color: #{clr.$grad-100};

  // Dark Mode
  &[data-theme='dark'] {
    --text-color: #{clr.$grey-900};
    --bg-color: #{clr.$grey-100};
  }
}
