@use '../1-helpers/mixins' as m;
@use '../1-helpers/colors' as clr;
body {
  outline-width:20px;
  outline-style:  solid;
  outline-color:  rgba(clr.$purple-500, 0.4);
  .hello {
    &__hi {
      // margin-top: 128px;
    }
    &__name {
      background: var(--title-color-grad);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      background-size: 300%;
      animation: title-animation 16s linear infinite;
      font-weight: 700;
      font-size: 5rem;
    }
  }
  @keyframes title-animation {
    0% {
      background-position: 200% 0px;
    }
    100% {
      background-position: 0% 0px;
    }
  }
  footer {
    position: relative;
    background: var(--footer-bg);
    height: 200px;
    &:before {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      top: -64px;
      height: 128px;
      background: var(--menu-bg);
      clip-path: polygon(0 0, 0 50%, 100% 50%);
    }
  }
}

.demo-images{
  // display: none;
  // height: 600px;
  // overflow: hidden;
}
