@use '../1-helpers' as help;
@use '../1-helpers/mixins' as m;

//

:root {
  @mixin tran($light: 1) {
    $tra: ease-out;
    @if $light == 1 {
      $tra: ease-in;
    }
    transition: text 300ms $tra, background 300ms $tra;
  }
  &[data-theme='dark'] body {
    @include tran(2);
    // transition: text 200ms ease-in-out, background 200ms ease-in;
  }
  body {
    @include tran(1);
  }
}
body {
  color: var(--text-color);
  background: var(--bg-color);
  font-size: var(--body-font-size);
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);

  .after-dot:after {
    content: '.';
    display: inline-block;
    color: var(--text-color);
    font-size: 1.2em;
    line-height: 0;
  }

  section {
    // :where supported from Chrome 88, released 19Jan, 2021
    // are you still sure about using?

    // :where(h1, h2, h3, h4, h5, h6, p) {
    //   padding: 0px var(--side-space);
    //   margin: var(--gap-between) auto;
    // }
    // :where(p) {
    //   margin-left: 0;
    //   max-width: 60ch;
    // }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      padding: 0px var(--side-space);
      margin: var(--gap-between) auto;
    }
    p {
      margin-left: 0;
      max-width: 60ch;
    }
    .hello {
      // margin-bottom: 200px;
      &__hi {
        margin-bottom: 0;
      }
      &__name {
        margin-top: 0;
      }
      &__intro {
        &--short {
          font-weight: bold;
          margin-bottom: 1em;
        }
        &--long {
          line-height: 1.5;
        }
      }
    }
    .cta {
      display: flex;
      margin: 64px var(--side-space);
      margin-bottom: 128px;
      flex-direction: row;
      gap: var(--gap-between);
      flex-wrap: wrap;
      align-items: center;
      // justify-content: center;
      align-items: stretch;
      &__btn {
        flex-grow: 1;
        // max-width: 8em;
        background-color: red;
        text-align: center;
        padding: 30px;
        // font-size: 2.4rem;
        // min-width: 384px;
        text-decoration: none;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        @include m.text-l;
        color: var(--text-color);
        &--work {
          margin-top: -5px;
          padding-top: 35px;
          padding-bottom: 35px;
          // background-color: green;
          // background: clr.$grad-500-3;
          // transition: backgroun;
          background: var(--work-btn-bg);
          color: var(--work-btn-text-color);
          // color: transparent;
          // -webkit-background-clip: text;
          // background-clip: text;
          // -webkit-background-clip: text;
          // color: transparent;
          background-size: 300%;
          animation: title-animation 16s infinite;
          // font-weight: 700;
          // font-size: 5rem;
        }
        &--mentorship {
          // background: var(--mentorship-btn-bg);
          // border: var(--mentorship-btn-border);
          // background: red;
          // color: red;
          // flex-grow: 2;
          position: relative;
          // z-index: 20;
          // z-index: 1;
          // width: calc(100% - 10px);
          height: calc(100% - 10px);
          & > * {
            position: relative;
            z-index: 3;
          }
          &::before {
            z-index: 1;
            content: '';
            background: var(--mentorship-btn-border);
            // background: linear-gradient(90deg, red, green, red);
            animation: title-animation 8s infinite;
            background-size: 300%;
            position: absolute;
            top: -5px;
            left: -5px;
            width: calc(100% + 10px);
            height: calc(100% + 10px);
            // z-index: 5;
            // border-radius: 12px;
          }
          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--bg-color);
            z-index: 2;
            // border-radius: 8px;
          }
        }
      }
    }
  }

  h2 {
    text-align: center;
  }
}
