@use '../1-helpers' as help;
@use '../1-helpers/mixins' as m;
@use '../1-helpers/colors' as clr;
@use '../3-basics/global' as g;

//

:root {
  @mixin tran($light: 1) {
    $tra: ease-out;
    @if $light == 1 {
      $tra: ease-in;
    }
    transition: text 300ms $tra, background 300ms $tra;
  }
  &[data-theme='dark'] body {
    @include tran(2);
    // transition: text 200ms ease-in-out, background 200ms ease-in;
  }
  body {
    @include tran(1);
  }
}
body {
  color: var(--text-color);
  background: var(--bg-color);
  font-size: var(--body-font-size);
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);

  .after-dot:after {
    content: '.';
    display: inline-block;
    color: var(--text-color);
    font-size: 1.2em;
    line-height: 0;
  }

  section {
    // :where supported from Chrome 88, released 19Jan, 2021
    // are you still sure about using?

    // :where(h1, h2, h3, h4, h5, h6, p) {
    //   padding: 0px var(--side-space);
    //   margin: var(--gap-between) auto;
    // }
    // :where(p) {
    //   margin-left: 0;
    //   max-width: 60ch;
    // }
    min-height: 500px;
    padding: 64px var(--side-space);
    // padding-top: 64px;
    padding-bottom: 32px;
    &:nth-of-type(2n) {
      background: var(--bg-even);
    }
    &:nth-of-type(2n + 1) {
      background: var(--bg-odd);
    }
    &:first-of-type {
      margin-top: -#{g.$poly-height};
    }
    &:last-of-type {
      padding-bottom: g.$poly-height;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      margin: var(--gap-between) auto;
    }
    p {
      margin-left: 0;
    }
    .hello {
      &__hi {
        margin-bottom: 0;
      }
      &__name {
        font-family: var(--title-font-family);
        margin-top: 0;
      }
      &__intro {
        &--short {
          font-weight: bold;
          font-size: 2.5rem;
        }
        &--long {
          font-size: 2.5rem;
          line-height: var(--line-height-lg);
          max-width: var(--narrow-text-width);
        }
      }
    }
    .cta {
      font-size: 2.5rem;
      max-width: var(--narrow-text-width);
      display: flex;
      margin-top: 64px;
      flex-direction: row;
      gap: var(--gap-between-btns);
      flex-wrap: wrap;
      align-items: center;
      align-items: stretch;

      &__btn {
        flex-grow: 1;
        text-align: center;
        padding: 20px 40px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;

        color: var(--text-color);
        &--work {
          background: var(--work-btn-bg);
          color: var(--work-btn-text-color);
          background-size: 200% 100%;
          background-position: 100% 0%;
          transition: all 400ms ease-in;

          &:hover {
            background-position: 200% 0%;
            transition: all 400ms ease-out;
          }
        }
        &--mentorship {
          border: 4px solid clr.$purple-500;
          transition: all 400ms ease;
          &:hover {
            transition: all 400ms ease;
            border-color: clr.$blue-500;
          }
        }
      }
    }
  }

  h2 {
    text-align: center;
  }
}
