// This is full bs
// Use sass map or list or anything manageable.
/***************************
***** COLORS *****
Lightest: 100
Light: 500
Dark: 800/900
Darkest: 1000
***************************/

/***************************
Cool Grey Colors
***************************/
$grey-25: hsl(210, 6%, 4%); // #0A0A0B
$grey-50: hsl(210, 12%, 8%); // #121417
$grey-75:hsl(210, 18%, 12%); // #191F24
$grey-100: hsl(210, 24%, 16%); // #1F2933
$grey-200: hsl(210, 20%, 25%); // #33404D
$grey-300: hsl(209, 18%, 30%); // #3F4D5A
$grey-400: hsl(209, 14%, 37%); // #515F6C
$grey-500: hsl(211, 12%, 43%); // #606D7B
$grey-600: hsl(210, 10%, 53%); // #7B8793
$grey-700: hsl(211, 13%, 65%); // #9AA5B1
$grey-800: hsl(210, 15%, 82%); // #CAD1D8
$grey-900: hsl(210, 13%, 91%); // #E5E8EB
$grey-1000: hsl(216, 33%, 97%); // #F5F7FA


/***************************
Primary Purple Colors
***************************/
$purple-100: hsl(277, 92%, 95%); // #F5E7FE
$purple-200: hsl(278, 96%, 90%); // #ECCDFE
$purple-300: hsl(278, 90%, 80%); // #D89EFA
$purple-400: hsl(278, 90%, 70%); // #C56EF7
$purple-500: hsl(278, 75%, 35%); // #6B169C
$purple-600: hsl(278, 65%, 30%); // #5A1B7E
$purple-700: hsl(278, 55%, 25%); // #491D63
$purple-800: hsl(278, 46%, 21%); // #3C1D4E
$purple-900: hsl(277, 37%, 18%); // #321D3F
$purple-1000: hsl(280, 27%, 13%); // #24182A


/***************************
Primary Blue Colors
***************************/
$blue-100: hsl(248, 92%, 95%); // #EAE7FE
$blue-200: hsl(249, 96%, 90%); // #D4CDFE
$blue-300: hsl(248, 90%, 80%); // #AA9EFA
$blue-400: hsl(248, 90%, 70%); // #806EF7
$blue-500: hsl(248, 75%, 35%); // #28169C
$blue-600: hsl(248, 65%, 30%); // #281B7E
$blue-700: hsl(248, 55%, 25%); // #261D63
$blue-800: hsl(247, 46%, 21%); // #231D4E
$blue-900: hsl(247, 38%, 17%); // #1F1B3C
$blue-1000: hsl(247, 27%, 13%); // #1A182A


/***************************
Primary Gradient Colors (10-90)
***************************/
$grad-100: linear-gradient(90deg, $purple-100 10%, $blue-100 90%);
$grad-200: linear-gradient(90deg, $purple-200 10%, $blue-200 90%);
$grad-300: linear-gradient(90deg, $purple-300 10%, $blue-300 90%);
$grad-400: linear-gradient(90deg, $purple-400 10%, $blue-400 90%);
$grad-500: linear-gradient(90deg, $purple-500 10%, $blue-500 90%);
$grad-600: linear-gradient(90deg, $purple-600 10%, $blue-600 90%);
$grad-700: linear-gradient(90deg, $purple-700 10%, $blue-700 90%);
$grad-800: linear-gradient(90deg, $purple-800 10%, $blue-800 90%);
$grad-900: linear-gradient(90deg, $purple-900 10%, $blue-900 90%);
$grad-1000: linear-gradient(90deg, $purple-1000 10%, $blue-1000 90%);

// special for animated gradients!
// light
$grad-100-3: linear-gradient(90deg, $purple-100, $blue-100, $purple-100);
$grad-200-3: linear-gradient(90deg, $purple-200, $blue-200, $purple-200);
$grad-300-3: linear-gradient(90deg, $purple-300, $blue-300, $purple-300);
$grad-400-3: linear-gradient(90deg, $purple-400, $blue-400, $purple-400);
$grad-500-3: linear-gradient(90deg, $purple-500, $blue-500, $purple-500);
// dark
$grad-600-3: linear-gradient(90deg, $purple-600, $blue-600, $purple-600);
$grad-700-3: linear-gradient(90deg, $purple-700, $blue-700, $purple-700);
$grad-800-3: linear-gradient(90deg, $purple-800, $blue-800, $purple-800);
$grad-900-3: linear-gradient(90deg, $purple-900, $blue-900, $purple-900);
$grad-1000-3: linear-gradient(90deg, $purple-1000, $blue-1000, $purple-1000);

/***************************
Gradient Colors Wide (30-70)
***************************/
$grad-100-wide: linear-gradient(90deg, $purple-100 30%, $blue-100 70%);
$grad-200-wide: linear-gradient(90deg, $purple-200 30%, $blue-200 70%);
$grad-300-wide: linear-gradient(90deg, $purple-300 30%, $blue-300 70%);
$grad-400-wide: linear-gradient(90deg, $purple-400 30%, $blue-400 70%);
$grad-500-wide: linear-gradient(90deg, $purple-500 30%, $blue-500 70%);
$grad-600-wide: linear-gradient(90deg, $purple-600 30%, $blue-600 70%);
$grad-700-wide: linear-gradient(90deg, $purple-700 30%, $blue-700 70%);
$grad-800-wide: linear-gradient(90deg, $purple-800 30%, $blue-800 70%);
$grad-900-wide: linear-gradient(90deg, $purple-900 30%, $blue-900 70%);
$grad-1000-wide: linear-gradient(90deg, $purple-1000 30%, $blue-1000 70%);
