// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

button {
  border-radius: 4px;
  padding: 0.5em 1em;
  // border: 2px solid clr.$light-P-500;
  // border-color: $light4;
  // background: clr.$dark-300;
  font-size: 2rem;
  font-weight: bold;
  // color: clr.$light-500;
}
