@use '../1-helpers/colors' as clr;
body {
  max-width: 1300px;
  margin: auto;
}
.recent {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  // height: 100%;
  // justify-content: flex-start;
  // justify-content: center;
  // align-items: stretch; //defuullt stretch
  &__section-title {
    flex-basis: 100%;
  }

  &__card {
    flex: 1 1 350px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    // max-width: 80%;
    // margin: auto;
    outline: 2px solid red;
    flex-wrap: wrap;
    &__external {
      overflow: hidden;
      position: relative;
    }

    &__external,
    &__blog {
      // overflow: hidden;
      // flex-flow: column wrap;
      // max-width: 450px;
      &__link {
        &--image {
          width: 100%;
          height: 200px;
          display: block;
          object-fit: cover;
          object-position: 50% 50%; //default 50
        }
      }
      &__content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        &__link {
          background: rgba(0, 255, 0, 0.1);
          text-decoration: none;
          color: inherit;
          padding: var(--gap-between) var(--side-space);
          flex: 1 1 auto;
          &--title {
          }
          &--excerpt {
          }
        }
        &--footer {
          background: rgba(255, 0, 0, 0.1);
          padding: var(--gap-between) var(--side-space);
          // margin-top: 0;
          display: flex;
          gap: 4px;
          align-items: flex-end;
          justify-content: space-between;
          // &--read-more{
          //   margin-left: var(--side-space);
          //   flex-basis: 20%;
          // }
          // &--visit{
          //   margin-right: var(--side-space);
          //   // flex-basis: 20%;
          //   align-items: flex-end;
          //   // flex-grow: 100%;
          // }
          a {
            text-decoration: none;
            color: inherit;
            padding: 8px 8px;
            text-align: center;
            // border: 2px solid red;
            background: rgba(0, 255, 0, 0.1);
          }
          &--read-more {
          }
          &--visit {
          }
        }
      }

      &--ribbon {
        position: absolute;
        top: 32px;
        left: 64px;
        transform: translateX(-50%) rotate(-40deg);
        padding: 16px 64px;
        line-height: 0;
        text-decoration: none;
        background: clr.$grey-200;
        color: clr.$grey-900;
      }
    }
    &__podcast {
      // max-width: 400px;
      // display: flex;
      // flex-direction: column;
      // flex-basis: 300px;
      // flex: 0.5 0.5 300px;
      // flex-direction: column;
      // justify-content: center;
      // justify-content: flex-start;
      // align-items: flex-start;
      &--container {
        // background: clr.$grey-900;
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        background: clr.$grey-900;
      }
      &--section-title {
        text-align: center;
        // color: red;
        // flex: 1 1 100%;
      }
      // background: clr.$grey-800;
      &__list {
        // HIDE temporary
        position: relative;
        &::after {
          content: 'Coming Soon...';
          opacity: 92%;
          position: absolute;
          top: 0;
          bottom: -44px;
          left: 0;
          right: 0;
          background: clr.$grey-800;
          display: flex;
          text-align: center;
          justify-content: center;
          align-items: center;
          font-size: 8rem;
        }
        padding: var(--gap-between) var(--side-space);
        // flex: 1 1 100%;
        min-height: 300px;
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        // max-height: 500px;
        // overflow-y: scroll;
        // background: clr.$grey-1000;
        // $shadow1: rgba(clr.$grey-1000, 0.4);
        // $shadow2: rgba(clr.$grey-1000, 0.2);
        // box-shadow: inset 0px 8px 16px $shadow1 , inset 0px -8px 16px $shadow2 ;
        // box-shadow: inset 0px 2px 8px rgba(0,0,0,0.05),inset  0px -2px 8px rgba(0,0,0,0.05);
        display: flex;
        flex-direction: column;
        gap: 32px;
        // justify-content: flex-start;
        &--item {
          flex-direction: column;
          display: flex;
          gap: 8px;
          &__heading {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 8px;
            &--btn {
              $heightWidth: 32px;
              position: relative;
              height: $heightWidth;
              width: $heightWidth;
              .media-button {
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                transition: opacity 400ms ease;
                filter: contrast(48%);
                &.pause {
                  opacity: 0;
                }
              }
            }
          }
          &__datetime {
            display: flex;
            gap: 8px;
            justify-content: space-between;
            color: clr.$grey-600;
          }
          &__progress {
            display: flex;
            position: relative;
            border-radius: 2000px;
            height: 8px;
            cursor: pointer;
            background: clr.$grey-1000;
            &--buffered {
              display: flex;
              opacity: 80%;
              & > span {
                position: absolute;
                top: 0;
                bottom: 0;
                background: clr.$grey-800;
                border-radius: inherit;
              }
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
              position: absolute;
              border-radius: inherit;
            }
            &--played {
              opacity: 80%;
              left: 0;
              top: 0;
              bottom: 0;
              width: 0;
              position: absolute;
              border-radius: inherit;
              background: clr.$grey-600;
            }
          }
          &.playing {
            .recent__card__podcast__list--item__plusminus {
              height: 40px;
              transition: height 400ms ease;
            }
            .recent__card__podcast__list--item__heading--btn .media-button {
              &.pause {
                opacity: 1;
              }
              &.play {
                opacity: 0;
              }
            }
          }
          &__plusminus {
            transition: height 400ms ease;
            // opacity: 0;
            overflow: hidden;
            height: 0;
            display: flex;
            gap: 16px;
            & > span {
              height: 40px;
              width: 40px;
              color: clr.$grey-200;
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                width: 100%;
                height: 100%;
                filter: contrast(17%);
              }
            }
            span:nth-child(3) {
              margin-left: auto;
            }
          }
        }
        &--more {
          background: rgba(0, 255, 255, 0.5);
          padding: 10px 20px;
          text-align: center;
          // justify-self: flex-end;
          margin-top: auto;
          // margin: auto -20px -20px;
        }
      }
    }
  }
}
