@use '../1-helpers/colors' as clr;
body {
  max-width: 1300px;
  margin: auto;
}
.recent {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  // height: 100%;
  justify-content: flex-start;
  // align-items: flex-start;
  &__section-title {
    flex-basis: 100%;
  }

  &__card {
  flex: 1 1 300px;
    // height: 100%;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    // max-width: 80%;
    // margin: auto;
    outline: 2px solid red;
    flex-wrap: wrap;
    &__external {
      overflow: hidden;
      position: relative;
    }

    &__external,
    &__blog {
      // overflow: hidden;
      // flex-flow: column wrap;
      // max-width: 450px;
      &__link {
        &--image {
          width: 100%;
          height: 200px;
          display: block;
          object-fit: cover;
          object-position: 50% 50%; //default 50
        }
      }
      &__content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        &__link {
          background: rgba(0,255,0,0.1) ;
          text-decoration: none;
          color: inherit;
          padding: var(--gap-between) var(--side-space)  ;
          flex: 1 1 auto;
          &--title {
          }
          &--excerpt {
          }
        }
        &--footer {
          background: rgba(255,0,0,0.1) ;
          padding: var(--gap-between) var(--side-space)  ;
          // margin-top: 0;
          display: flex;
          gap: 4px;
          align-items: flex-end;
          justify-content: space-between;
          // &--read-more{
          //   margin-left: var(--side-space);
          //   flex-basis: 20%;
          // }
          // &--visit{
          //   margin-right: var(--side-space);
          //   // flex-basis: 20%;
          //   align-items: flex-end;
          //   // flex-grow: 100%;
          // }
          a{
            text-decoration: none;
            color: inherit;
            padding: 8px 8px;
            text-align: center;
            // border: 2px solid red;
            background: rgba(0,255,0,0.1) ;
          }
          &--read-more {
          }
          &--visit {
          }
        }
      }

      &--ribbon {
        position: absolute;
        top: 32px;
        left: 64px;
        transform: translateX(-50%) rotate(-40deg);
        padding: 16px 64px;
        line-height: 0;
        text-decoration: none;
        background: clr.$grey-200;
        color: clr.$grey-900;
      }
    }
  }
}
