@use '../1-helpers/colors' as clr;
@use '../1-helpers/functions' as fn;
@use '../3-basics/global' as g;

:root {
  .nav__theme {
    &--light,
    &--dark {
      z-index: var(--z-theme);
    }
    &--light {
      display: none;
    }
  }
  &[data-theme='dark'] {
    .nav__theme {
      &--dark {
        display: none;
      }
      &--light {
        display: unset;
      }
    }
  }
}

body {
  @mixin hideScrollbar {
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  // @include hideScrollbar;

  &.scroll-lock {
    // height: 100vh;
    // width: 100%;
    // overflow: hidden;

    // @media screen and (min-width:1300px) {
    //   transform: translateX(-50%);
    //   margin-left: calc(50% - 8px);
    // }
  }
}
.nav {
  $nav-height: g.$nav-height;
  $poly-height: g.$poly-height;
  // TODO: set multiplier 1x!
  $multiplier: 2;
  $ham-rotate-duration: 200ms * $multiplier;
  $ham-hide-delay: $ham-rotate-duration * 0.2;
  $ham-show-delay: $ham-rotate-duration * 0.8;
  $ham-opacity-duration: $ham-rotate-duration/2;

  filter: var(--nav-drop-shadow);
  // filter: drop-shadow(0px 0px 4px  rgba($clr,1));

  z-index: var(--z-nav);
  & > * {
    z-index: var(--z-nav-children);
  }
  height: #{$nav-height};
  margin-bottom: #{$poly-height};
  overflow-y: visible;
  // overflow-y: hidden;
  background: var(--nav-bg);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  transition: transform 200ms ease-out;
  position: sticky;
  top: 0;

  // &:has(&__ham + &__toggle:checked) &__menu {
  //   background-color: red !important;
  // }

  &--hide {
    transform: translate3d(0, -100%, 0);
    // transform: scale3d(1,0,1);
    transition: transform 200ms ease-in;
  }
  &__logo {
    z-index: var(--z-logo);
    img {
      width: 40px;
      height: 40px;
      display: block;
    }
  }

  &__theme {
    &--light,
    &--dark {
      --dim: 30px;
      img {
        display: block;
        height: var(--dim);
        width: var(--dim);
      }
    }
  }
  // when nav is hidden push menu further down (else poly-height is )
  &--hide &__toggle {
    & ~ .nav__menu {
      transform: translate3d(0, calc(100vh + #{$poly-height+$nav-height}), 0);
    }
  }
  &__toggle {
    display: none;
    & ~ .nav__menu {
      transform: translate3d(0, calc(100vh + #{$poly-height}), 0);
    }
    // unchecked state!
    & + .nav__ham .nav__ham {
      &--small {
        width: 45%;
        transform-origin: 0% 0%;
        transition: transform $ham-rotate-duration ease-out;
      }
      &--large {
        width: 90%;
        opacity: 1;
        transition: opacity $ham-opacity-duration $ham-show-delay ease;
      }
    }
    // Enabled the menu & x
    &:checked {
      // show poly
      & + .nav__poly::after {
        transform: inherit;
        transform: unset; //inherit, else initial
      }
      // show the menu
      & ~ .nav__menu {
        transform: translate3d(0, $nav-height + $poly-height, 0);
        // transform: translate3d(0, 178px, 0);
      }
      // and rotate the bars
      & + .nav__ham {
        // TODO: Remove one of these
        // Option 1. Use siblings, and BEM friendly
        .nav__ham {
          &--small {
            // first span!
            transform: rotate(45deg) scale(2.5, 1);

            // last span!
            & ~ .nav__ham--small {
              transform: rotate(-45deg) scale(2.5, 1);
            }
          }
          // Middle span
          &--large {
            opacity: 0;
            transition: opacity $ham-opacity-duration $ham-hide-delay ease-in;
          }
        }
        // Option 2. n-th of type && dev friendly?
        span {
          &:nth-of-type(1) {
            transform: rotate(45deg) scale(2.5, 1);
          }
          &:nth-of-type(2) {
            opacity: 0;
            transition: opacity $ham-opacity-duration $ham-hide-delay ease-in;
          }
          &:nth-of-type(3) {
            transform: rotate(-45deg) scale(2.5, 1);
          }
        }
      }
    }
  }
  &__ham {
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: var(--z-ham);
    & > * {
      z-index: inherit;
      background: var(--ham-bg);
      border-radius: 500px;
      height: 6px;
      // transform: scale(100%);
    }
  }

  &__poly {
    background: inherit;
    background-size: 0;
    &:after {
      pointer-events: none;
      content: '';
      position: absolute;
      height: #{$poly-height};
      display: block;
      top: #{$nav-height};
      left: 0;
      right: 0;
      background: inherit;
      background-size: 100%;
      clip-path: polygon(0 0, 100% 100%, 100% 0);
      transition: transform 200ms ease-out;
    }
    &--hide:after {
      transform: translate3d(0, -#{$poly-height}, 0);
      transition: transform 200ms ease-in;
    }
  }

  &__menu {
    // try box shadow!
    // box-shadow: 30px -30px 0px 10px green;
    // padding-top: 16px;

    &::before {
      content: '';
      position: absolute;
      top: -$poly-height;
      height: $poly-height;
      right: 0;
      left: 0;
      background: inherit;
      // background: lightcoral;
      // background: rgba(lightcoral, 60%);
      clip-path: polygon(0 0px, 0 100%, 100% 100%);
    }

    &::after {
      $line-width: 4px;
      content: '';
      position: absolute;
      top: -($poly-height);
      $height: $poly-height + $line-width;
      height: $height;
      right: 0;
      left: 0;
      background: var(--bg-color);
      clip-path: polygon(
        0 0,
        0 $line-width,
        100% $height,
        100% $height - $line-width
      );
    }

    background: inherit;
    font-weight: bold;
    font-size: 3rem;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    // nav on
    min-height: calc(100vh - #{$nav-height+$poly-height});
    // nav off
    min-height: calc(100vh - #{$poly-height});
    transition: transform 200ms ease-in-out;
    display: flex;
    &__items {
      &--container {
        // height: fit-content;
        // justify-content: center;
      }
      display: flex;
      gap: 4px;
      flex-direction: column;
      justify-content: space-evenly;
      list-style: none;
      padding: 0;

      &--item {
        @mixin hoverStyle($color: clr.$blue-100, $bdrColor: $color) {
          background: $color;
          -webkit-background-clip: text;
          border-color: $bdrColor;
        }
        // center or left!
        display: flex;

        &:last-of-type {
          a {
            @include hoverStyle('X', clr.$purple-300);
          }
        }

        a {
          width: 100%;
          text-align: center;
          border: 2px solid transparent;
          // border-radius: 4px;
          padding: 5px 20px;
          line-height: 2em;
          background: var(--menu-text-bg);
          // background-clip: text;
          -webkit-background-clip: text;
          background-size: 100%;
          color: transparent;
          text-decoration: none;

          &:focus,
          &:hover {
            @include hoverStyle();
          }
        }
      }
    }
  }
}

.intro {
    background: url('/images/assets/pattern.svg');
    background-size: 40%;
}

.footer {
  min-height: 500px;
  padding: 64px var(--side-space);
  padding-bottom: 128px;
  color: var(--bg-color);
  // a {
  //   color: var(--bg-color);
  // }
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;

  &__work {
    // color: var(--bg-color);

    flex: 1 1 400px;
    justify-items: flex-start;
    &__title {
      text-align: left;
    }
    &__description {
      max-width: 56ch;
    }
    &__start {
      display: inline-flex;
      &--link {
        font-size: 2.5rem;
        // font-weight: bold;
        color: var(--text-color);
        color: var(--bg-color);
        padding: 0.8em 1.6em;
        text-decoration: none;
        border-radius: 500em;
        border: 2px solid clr.$grey-900;
        background: var(--work-btn-bg);
        background-size: 200% 100%;
        background-position: 190% 0%;
        transition: all 400ms ease-in;
        &:hover{
          background-position: 100% 0%;
          transition: all 400ms ease-out;
        }
      }
    }
  }
  &__social {
    flex: 1 1 1px;
    display: flex;
    flex-flow: column wrap;
    &__title {
      // flex-basis: 100%;
      // text-align: left;

    }
    &__link {
      display: flex;
      flex-flow: column wrap;
      gap: 20px;
      &--item {
        display: flex;
        gap: 10px;
        align-items: center;
        text-decoration: none;
        color: var(--bg-color);
        width: fit-content;
        &:hover img{
          filter: grayscale(90%) brightness(80%);
          transition: all 400ms ease;
        }
        img {
          display: block;
          width: 32px;
          height: 32px;
          transition: all 800ms ease; //filters
        }
        span {
        }
      }
    }
  }
  &__companies {
    flex-basis: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    &__info {
      flex: 0.5 4 300px;
    }
    &__logos {
      flex: 2 0.25 300px;
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      a img {
        display: block;
        padding: 8px;
        width: 48px;
        height: 48px;
        filter: grayscale(40%);
        filter: grayscale(40%) brightness(80%);
        transition: all 800ms ease;
        &:hover{
          filter: unset;
          transition: all 400ms ease;
        }
      }
    }
    &__credit {
      flex-basis: 100%;
    }
  }
}
.credit {
  background: clr.$grey-800;
  padding: 20px 10px;
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
  justify-content: center;
  align-items: center;
  &__logo {
    img {
      display: block;
      height: 48px;
      width: 48px;
    }
  }
  &__text {
    display: flex;
    flex-flow: column wrap;
    gap: 2px;
  }
  &__privacy {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    color: clr.$grey-200;
    text-decoration: none;
    &:hover {
      color: clr.$blue-500;
    }
  }
}
